@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

.container {
  padding-inline: 2rem;
  max-width: 100% !important;
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 1rem;
  }
}


button,
a {
  @apply cursor-pointer;
}
